body {
    background-color: #191100;
    color:#fff;
}
a
{
    text-decoration:none;
}

h1,h2,h3,h4,h5
{
    text-align: center;
}
ul{
    list-style-type: none;
}

input
{
    color:#000;
}
header

{
    background-color: #191100;
}
header a
{
    color: #000;
}
.article2 a
{
    text-decoration: none;
    color: #fff;
}
.entete
{
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;



}
.logo

{
    width: 10%;

}

.logo img, .thumb img
{
    width:100%;
}

section, .pied
{
    padding-top: 50px;

}

.post_review
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.post_review a
{
    /*width: 30%;*/
    background-color: #191100;
    color : #fff;
    margin-top: 20px;
}

.thumb
{
    width: 60%;
    margin:auto;
}


.apercu
{
    width: 28%;
    border-radius:50px;
    border: 3px solid #ffb630;
    padding: 40px;
    margin-bottom: 50px;
}
.apercu h2
{
    text-align: center;
}

.pied
{
    display: flex;
    justify-content: space-around;
    color: #fff;
    background-color: #191100;
}

.pied h2
{
    line-height: 60px
}

.lorem
{
    line-height: 300px;
}

.article a
{
    color: #fff;

}
.article2 .apercu2
{
    width: 60%;
    margin: auto;
}

.article2 .apercu2 .thumb, .article2 .apercu2 h2
{
    width: 50%;
    margin: auto;
}
.article2 .apercu2 p
{
    width: 45%;
    margin: auto;
}
.category1
{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.category1 form
{
    width: 60%;
}
.lbl_search
{
    padding: 10px;
}
.cat
{

    margin:auto;
    display: flex;
    justify-content: space-between;
}
.cat_2
{
    width: 40%;
    margin-top: 0;
    display: flex;
    justify-content: left;
}

.l_cat2, .l_cat
{
    background-color: #ffb630;
    margin: 20px;
    border: 2px solid #fff;
    border-radius: 50px;
    text-align:center;
}
.l_cat
{
    width: 25%;
    margin: auto;
    margin-top: 20px;
    color:#000;
}
.l_cat2
{
    width: 45%;
    height: 40px;
}

.l_cat a{
    color: #000;
}

.date
{
    color:#ffb630;
}

