{#Lier la vue au template de page #}

{% extends "@App/Default/base.html.twig" %}


{% block page %}
    <section class="article2">


        <article class="apercu2">

            <h2>Entrez nouveau livre</h2>


                {{ form(formLivre) }}




        </article>


    </section>
{% endblock %}