{#Lier la vue au template de page #}

{% extends "@App/Default/base.html.twig" %}
{% block page %}

    {#container pour chaque auteur qui s'affiche#}
    <section class="article2">
{#      la fonction path génère automatiquement l'url en fonction de l'id#}
        <a class="apercu2" href="{{ path('auteur', {'id': auteur.id}) }}">
            <article>
{#              affiche les éléments choisi dans la BDD (ici 'nom de l'auteur'#}
                <h2>{{ auteur.name }}</h2>
{#              (ici 'bio de l'auteur'#}
                <p>{{ auteur.bio|raw }}</p>
            </article>
        </a>

    </section>
{% endblock %}