{#Lier la vue au template de page #}

{% extends "@App/Default/base.html.twig" %}
{% block page %}

    {#container pour chaque auteur qui s'affiche#}
    <section class="article2">
{#      la fonction path génère automatiquement l'url en fonction de l'id#}

            <article class="apercu2">
{#              affiche les éléments choisi dans la BDD (ici 'nom de l'auteur'#}
                <h2>{{ auteur.name }}</h2>
{#              (ici 'bio de l'auteur'#}
                <p>{{ auteur.bio }}</p>
                <h4>Livres de l'auteur</h4>
                {% for livre in auteur.livres %}
                <a  href="{{ path('livre', {'id': livre.id}) }}">
                    <p class="p1">{{ livre.titre }}</p>
                </a>
                {% endfor %}

                </a>
            </article>


    </section>
{% endblock %}