{#TEMPLATE DE PAGE#}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Style.cssz-->
    <link rel="stylesheet" type="text/css" href="{{ asset ('css/style.css')  }}">
</head>
<body>
<!-- En-tete-->
<header>
    <div class="container-fluid entete">
        <div class="logo">
            <img src="{{ asset ('img/logo2.png') }}" alt="logo">
    </div>


        {% include '@App/Default/nav2.html.twig' %}


    </div>
</header>

{#-------------------#}

{# CONTENU DYNAMIQUE #}
</div>


{% include '@App/Default/nav.html.twig' %}


</div>

{# Appelle la vues déterminée par la méthode correspondant
à la requete client  #}
{% block page %}

    {# Fin de la zone "dynamique" de la page #}
{% endblock %}

{#-------------------#}

<!-- Pied de page -->
<footer>
    <div class="pied">
        <p class="lorem">
            lorem
        </p>
        <div class="logo">
            {#fonction "asset"#}
            <img src="{{ asset ('img/logo2.png') }}" alt="logo">
        </div>
        <p class="lorem">
            lorem
        </p>
    </div>
</footer>

</body>
</html>